@keyframes Error {
  0% {
    border: 1px solid #eaeaea;
  }
  50% {
    border: 1px solid #e50303;
  }
  100% {
    border: 1px solid #eaeaea;
  }
}

@import "../../scss/typography";

.new-class-container {
  min-height: calc(100vh - 270px);
  margin: 0px auto 50px auto;
  width: 100%;
  padding: 5px;
  animation: FadeIn 500ms;
}

.new-class-form {
  margin: 15px auto 30px auto;
  border: 1px solid #eaeaea;
  font-family: "Open Sans", sans-serif;
  transition: 500ms;
  padding: 20px 0 20px 0;
}

@media (min-width: 576px) {
  .new-class-form {
    padding: 20px 10px 20px 10px;
  }
}

@media (min-width: 768px) {
  .new-class-form {
    padding: 50px 50px 50px 20px;
  }
}

@media (min-width: 992px) {
  .new-class-container {
    width: 80%;
    padding: 0;
  }

  .new-class-form {
    margin: 15px auto 30px auto;
    padding: 50px 20% 50px 10%;
  }
}

@media (min-width: 1200px) {
}
