@keyframes Error {
  0% {
    border: 1px solid #eaeaea;
  }
  50% {
    border: 1px solid #e50303;
  }
  100% {
    border: 1px solid #eaeaea;
  }
}
.new-class-container {
  min-height: calc(100vh - 270px);
  margin: 0px auto 50px auto;
  width: 60%;
  animation: FadeIn 500ms;
}
.new-class-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1px;
  color: #79d582;
  margin-bottom: 15px;
}
.new-class-form {
  margin: 15px auto 30px auto;
  border: 1px solid #eaeaea;
  font-family: "Open Sans", sans-serif;
  transition: 500ms;
  padding: 50px 20% 50px 10%;
}

.font-size{
  font-size: 1.6rem;
}