.Home_Footer_Main{
    background-color: #F8F9FA;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 10px 0px;
    font-size: large;
    margin-top: calc(57vh - 70px);
    animation: FadeIn 500ms;
}
.Home_Footer_Main a{
    margin: 10px;    
    text-decoration: none;
    color: black;
    transition: 200ms;
}
.Home_Footer_Main a:hover{
    color: blue;
}