@import "../../scss/variables";
.course-card-container {
  margin: 15px auto 25px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  align-items: flex-start;
  border-top: 1px solid $classcard-border;
  padding-top: 35px;
}
.course-card {
  background-color: #f5f5f5;
  width: 160px;
  height: 150px;
  border-radius: 5px;
  transition: 200ms;
  color:black;
  text-decoration: none;
}
.course-card:hover {
    background-color: #03A9F4;
    color:white;
    cursor: pointer;
}
.course-card div{
    width: 100%;
    height: 75px;
    display: flex;
}
.course-card div:nth-child(1){
    justify-content: center;
    align-items: flex-end;
    font-size: 40px;
}
.course-card div:nth-child(2){
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: $default-font-family;
}
