%btn-danger {
  background-color: $btn-danger-bg;
  border: 1px solid $btn-danger-border;
  color: white;
  &:hover {
    background-color: $btn-danger-bg-hover;
  }
}

%btn-outline-danger {
  background-color: white;
  color: $btn-danger-border;
  border: 1px solid $btn-danger-border;
  &:hover {
    background-color: $btn-danger-bg-hover;
    color: white;
  }
}

%btn-warning {
  background-color: $btn-warning-bg;
  border: 1px solid $btn-warning-border;
  color: white;
}

%btn-light {
  background-color: $btn-light-bg;
  border: 1px solid $btn-light-border;
  color: white;
}

%btn-success {
  background-color: $btn-danger-bg;
  border: 1px solid $btn-danger-border;
  color: white;
}

%btn-no-bg {
  background-color: transparent;
}
