@import "variables";

.form-group {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  padding: 5px;
  flex-wrap: nowrap;
  justify-content: flex-end;
  color: $text-dark-color;

  label {
    width: 20%;
    margin: auto;
    font-family: $default-font-family;
    font-size: 0.85em;
    text-align: right;
    margin-right: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  input[type="month"],
  input[type="week"] {
    text-align: left;
    font-family: $default-font-family;
    font-weight: 300;
    color: $text-dark-color;
    font-size: 0.85em;
    width: 70%;
    height: 40px;
    padding: 0 5px;
  }

  input[type="submit"] {
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: $btn-submit-bg;
    border: 1px solid $btn-submit-border;
    border-radius: 4px;
    font-family: $default-font-family;
    font-size: 0.75em;
    font-weight: 300;
    color: #fff;
    &:hover {
      background-color: $btn-submit-bg-hover;
    }
  }

  select {
    font-family: $default-font-family;
    font-weight: 300;
    font-size: 0.85em;
    width: 70%;
    color: $text-dark-color;
    padding: 0 5px;
  }
}

.form-control {
  display: block;
  background-color: #fff;
  border: 1px solid $form-border-color;
  border-radius: 4px;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
