$default-font-family: "Roboto", sans-serif;

$logo-dark-color: #3f3f3f;
$logo-light-color: #d12f2f;

$header-nav-bg: #efefef;
$header-nav-text: #3f3f3f;
$header-nav-text-hover: #d12f2f;
$header-nav-text-selected: #d12f2f;

$footer-text-color: #ececec;
$footer-bg: #3f3f3f;

$form-border-color: #dbdbdb;

$text-bg-dark: #3f3f3f;
$text-bg-light: #ececec;

$text-link-color: #79d582;
$text-link-hover-color: #339966;

$text-light-color: #aeaeae;
$text-dark-color: #2b2b2b;

$text-color-dark-pale: #ececec;
$text-color-light-pale: #fcfcfc;

$classcard-border: #f1f1f1;
$classcard-day-bg: #f8f8f8;
$classcard-day-bg-pale: #130e0e;
$classcard-day-border: #d12f2f;
$classcard-day-border-pale: #ececec;

// btn-sylabus-bg:
$btn-syllabus-bg-hover: #f2f2f2;
$btn-syllabus-border: #cccccc;
// btn-sylabus-text:

$forms-title-color: #79d482;
// text-title--color :
// text-subtitle--color :
// text-subtile-light :

// ========= BUTTONS COLORS =========

$btn-submit-bg: #03a9f4;
$btn-submit-bg-hover: #007bff;
$btn-submit-border: #d0f0ff;

$btn-danger-bg: #03a9f4;
$btn-danger-bg-hover: #007bff;
$btn-danger-border: #d0f0ff;

$btn-warning-bg: #03a9f4;
$btn-warning-bg-hover: #007bff;
$btn-warning-border: #d0f0ff;

// ========= ALERT COLORS =========
$alert-light-border-color: #ececec;
$alert-light-bg-color: #fff;
$alert-light-text-color: #1e1e1e;

$alert-success-border-color: #c3e6cb;
$alert-success-bg-color: #d4edda;
$alert-success-text-color: #155724;

$alert-danger-border-color: #f5c6cb;
$alert-danger-bg-color: #f8d7da;
$alert-danger-text-color: #721c24;

$alert-info-border-color: #bee5eb;
$alert-info-bg-color: #d1ecf1;
$alert-info-text-color: #0c5460;
