$default-font-family: "Roboto", sans-serif;

$logo-dark-color: #3f3f3f;
$logo-light-color: #d12f2f;

$header-nav-bg: #efefef;
$header-nav-text: #3f3f3f;
$header-nav-text-hover: #d12f2f;
$header-nav-text-selected: #d12f2f;

$text-bg-dark: #3f3f3f;
$text-bg-light: #ececec;

$text-link-color: #79d582;
$text-link-hover-color: #339966;

$text-light-color: #aeaeae;
$text-dark-color: #2b2b2b;

$text-color-dark-pale: #ececec;
$text-color-light-pale: #fcfcfc;

$classcard-border: #f1f1f1;
$classcard-day-bg: #f8f8f8;
$classcard-day-bg-pale: #130e0e;
$classcard-day-border: #d12f2f;
$classcard-day-border-pale: #ececec;

// btn-sylabus-bg:
$btn-syllabus-bg-hover: #f2f2f2;
$btn-syllabus-border: #cccccc;
// btn-sylabus-text:

$forms-title-color: #79d482;
// text-title--color :
// text-subtitle--color :
// text-subtile-light :

// text-color--dark :
