@import "./../../scss/variables";

footer {
  position: absolute;
  display: flex;
  align-items: flex-start;
  //justify-content: flex-start;
  background-color: $footer-bg;
  font-family: $default-font-family;
  color: $footer-text-color;
  font-weight: 300;
  font-size: 0.85rem;
  height: 40vh;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: left;
  p {
    padding: 0 10px;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  footer {
    font-size: 1rem;
    align-items: center;
    height: 100px;
  }
}

@media (min-width: 992px) {
  footer {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  footer {
    font-size: 1.15rem;
  }
}
