@import "./../../scss/variables";

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: $footer-bg;
  font-family: $default-font-family;
  font-weight: 300;
  color: $footer-text-color;
}
