.Footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  top: calc(100vh - 80px);
  background-color: #3f3f3f;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: whitesmoke;
}
