@import "../../scss/variables";
.home_container{
    animation: FadeIn 500ms;
}
.home-main{
    min-height: calc(100vh - 270px);
}
.home-main div{
    display: flex;
    justify-content: center;
    // min-width: 200px;  // for respnsive design
    width: 60%;
    margin: 0px 20% 35px 20%;
    height: fit-content;
    select{
        width: 40%;
    }
}
.home-image{
    width: 470px;
    height: 239px;
    margin: 15px 0px 25px 0px;
}
.home-button {
    display: flex;
    justify-content: center;
    transition: 200ms;
    font-family: $default-font-family;
    font-weight: 400;
    width: 180px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid $btn-syllabus-border;
    color: #3f3f3f;
    text-decoration: none;
    margin: 0px 15px;
    p {
      display: inline;
      margin: auto 15px;
    }
    p i{
        margin-right: 10px;
    }
  
    // :nth-child(2) {
    //   margin: auto 5px;
    // }
  
    &:hover {
      background-color: $btn-syllabus-bg-hover;
    }
  }

