.Home_Body{
    animation: FadeIn 500ms;
}
.Home_Main{
    display: flex;
    width: 100%;
}
.Home_Main div{
    width: 50%;
}
.Home_Main div:nth-child(1){
    text-align: right;
}
.Home_CYF_Img{
    width: 60%;
    border-radius: 5px;
    margin: 25px 25px ;
}
.Home_Main div:nth-child(2) div{
    display: flex;
}
.Home_Main div:nth-child(2) p{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 30px 25px;
    width: 60%;
}
.Home_Main div:nth-child(2) div p{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    font-weight: 600;
    color: #3f3f3f;
    border: 2px solid #4aae60;
    transition: 200ms;
    margin-right: 65px;
}
.Home_Main div:nth-child(2) div p:hover{
    background-color: #4aae60;
    color: white;
    cursor: pointer;
}
.Home_Link{
    text-decoration: none;
    list-style: none;
}