@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Scada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

@import "scss/forms";

* {
  margin: 0px;
  padding: 0px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
}
.Div_Root_CSS {
  height: 100%;
}
