@import "./../../scss/variables";

.header {
  position: sticky;
  //height: 160px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
}
.header-logo-container {
  display: flex;
  height: 80px;
  width: 100%;
}
.header-down-container {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #efefef;
}

.header-nav-container {
  display: flex;
  width: 100%;
  margin: 5px auto;
  justify-content: flex-start;
  align-content: flex-start;

  a {
    margin: auto 20px;
    i {
      font-size: 25px;
    }
  }
}

.header-logo {
  margin: 5px auto 5px 5px;
  height: 56px;
  width: auto;
  text-align: right;
  text-decoration: none;
}
.header-logo:hover {
  transform: scale(1.02);
  cursor: pointer;
}

%menu-item {
  color: #3f3f3f;
  display: flex;
  align-items: center;
  transition: 200ms;
  text-decoration: none;
  margin-right: 25px;
  padding: 0;
  font-weight: 600;
  font-family: $default-font-family;
  font-size: 16px;
  i {
    font-size: 30px;
    margin-right: 10px;
    margin-top: -5px;
  }
  img {
    margin: auto 10px;
    width: 32px;
    height: 32px;
  }
}

.header-nav,
.home-titel {
  @extend %menu-item;
  p {
    display: none;
  }
}

.home-app-title {
  @extend %menu-item;
  p {
    display: block;
  }
}

.header-nav:hover {
  color: $header-nav-text-hover;
  cursor: pointer;
}
.header-nav p:nth-child(2) {
  font-size: 14px;
  font-family: $default-font-family;
  font-weight: 600;
}
.header-nav:nth-child(2),
.header-nav:nth-child(3),
.header-nav:nth-child(4),
.header-nav:nth-child(5),
.header-nav:nth-child(6) {
  margin-left: 8px;
}

.header-selected {
  color: $header-nav-text-selected;
  cursor: default;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .header-nav,
  .home-titel {
    p {
      display: block;
    }
  }
  .header-logo-container {
    width: 100%;
    margin: 0 auto;
  }
  .header-nav-container {
    width: 100%;
    margin: 0 auto;
    a {
      i {
        font-size: 25px;
      }
      p {
        font-size: 35px;
      }
    }
  }
}

@media (min-width: 992px) {
  .header-logo-container {
    width: 80%;
    margin: 0 auto;
  }
  .header-nav-container {
    width: 80%;
    margin: 0 auto;
    a {
      i {
        font-size: 25px;
      }
      p {
        font-size: 35px;
      }
    }
  }
}

@media (min-width: 1200px) {
}

.nav-svg {
  margin-right: 5px;
  width: 26px;
  height: 26px;
  color: aqua;
}
