@import "../../scss/variables";
@import "../../scss/buttons";

.courses-container {
  width: 100%;
  min-height: calc(100vh - 320px);
  margin-bottom: 50px;
  animation: FadeIn 500ms;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.btn-edit-course {
  @extend %btn-outline-warning;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.btn-delete-course {
  @extend %btn-outline-danger;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.hide-city-col {
  display: none;
}

@media (min-width: 992px) {
  .courses-container {
    width: 80%;
    margin: 0 auto;
  }

  .hide-city-col {
    display: table-cell;
  }
}

tr{
  transition: 200ms;
}