@import "../../scss/typography";

.new-class-container {
  min-height: calc(100vh - 270px);
  margin: 0px auto 50px auto;
  width: 100%;
  padding: 5px;
  animation: FadeIn 500ms;
}

.new-class-form {
  border: 1px solid #eaeaea;
  font-family: "Open Sans", sans-serif;
  transition: 500ms;
  padding: 50px 20% 50px 10%;
  margin: 15px auto 30px auto;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .new-class-container {
    width: 80%;
    padding: 0;
  }
}

@media (min-width: 1200px) {
}
.error{
    border: 1px solid #e50303;
}
